In [1]:
import json
import pandas as pd
json_file_path = 'cluster13_maxSpanningTree.json'
cluster_13_dict = {}

with open(json_file_path, 'r') as file:
    cluster_13_dict = json.load(file)

In [2]:
cluster_13_dict

{'Kate Symes': {'Portland Shift': 14.0,
  'Mark Guzman': 49.0,
  'Bill Williams III': 76.0,
  'Kerri Thompson': 859.0,
  'Kimberly Hundl': 248.0,
  'Sharen Cason': 382.0,
  'Stephanie Piwetz': 391.0,
  'David Poston': 11.0,
  'Amy FitzPatrick': 38.0,
  'Lester Rawson': 108.0,
  'Cara Semperger': 74.0,
  'Joy Werner': 4.0,
  'Evelyn Metoyer': 915.0,
  'Mollie Gustafson': 69.0,
  'Geir Solberg': 4.0,
  'Melissa Ann Murphy': 139.0,
  'Angela Cadena': 29.0,
  'Rhonda L Denton': 167.0,
  'Winston Goodbody': 28.0,
  'Stanley Cocke': 12.0,
  'Kimberly Indelicato': 28.0,
  'Duong Luu': 8.0,
  'Jeffrey Oh': 7.0,
  'Jeff Richter': 4.0,
  'John M Forney': 4.0,
  'Leaf Harasin': 8.0,
  'Elliot Mainzer': 8.0,
  'Teri Whitcomb': 7.0,
  'Veronica Gonzalez': 8.0,
  'Debra Davidson': 4.0,
  'Chip Cox': 3.0,
  'Andy Chen': 10.0,
  'Daniel Kang': 8.0,
  'Judy Dyer': 24.0,
  'Kimberly Allen': 92.0,
  'Katrina Johnson': 4.0,
  'Jim Buerkle': 14.0,
  'Laura Wente': 23.0,
  'Will Smith': 8.0,
  'Portland West Desk': 4.0,
  'Jody Blackburn': 4.0,
  'Anna Mehrer': 9.0,
  'Todd Perry': 33.0,
  'Jessica Burry': 4.0,
  'Terry W Donovan': 4.0,
  'Chris Stokley': 8.0,
  'Amy Smith': 16.0,
  'Mark Confer': 32.0,
  'Brooklyn Couch': 8.0,
  'Michael M Driscoll': 4.0,
  'Jesse Bryson': 22.0,
  'Willie Harrell': 15.0,
  'Jenny Latham': 8.0,
  'Brett Pate': 12.0,
  'Mike Purcell': 4.0,
  'Grace Rodriguez': 17.0,
  'Amy Fitzpatrick': 4.0,
  'Emily Butler': 9.0,
  'Heather Dunton': 4.0,
  'Kroum Kroumov': 8.0,
  'Kathryn Sheppard': 7.0,
  'GCP_Houston': 4.0,
  'Ryan Slinger': 4.0,
  'Virginia Thompson': 4.0,
  'Robert Badeer': 4.0,
  'Michael Tully': 8.0,
  'Valarie Sabo': 4.0,
  'Fran Chang': 7.0,
  'Diana Scholtes': 12.0,
  'Tom Alonso': 8.0,
  'Sean Crandall': 3.0,
  'Mark Fischer': 8.0,
  'Neil Bresnan': 11.0,
  'Caroline Emmert': 3.0,
  'Cecilia Cheung': 8.0,
  'Nikolay Kraltchev': 4.0,
  'Tim Heizenrader': 4.0,
  'Richard Schweiger': 4.0,
  'Matt Motley': 4.0,
  'Andrew Hawthorn': 4.0,
  'Jubran Whalan': 8.0,
  'Nadine Costanzo': 4.0,
  'Jonalan Page': 4.0},
 'Kerri Thompson': {'Carla Hoffman': 15.0}}

In [3]:

cluster_max_list = [(sender, receiver, exchange) for sender, receivers in cluster_13_dict.items() for receiver, exchange in receivers.items()]

In [4]:
cluster_max_sepate_df = pd.DataFrame(cluster_max_list, columns=['Sender', 'Receiver', 'Number of Information Exchange'])

In [5]:
cluster_max_sepate_df

            Sender           Receiver  Number of Information Exchange
0       Kate Symes     Portland Shift                            14.0
1       Kate Symes        Mark Guzman                            49.0
2       Kate Symes  Bill Williams III                            76.0
3       Kate Symes     Kerri Thompson                           859.0
4       Kate Symes     Kimberly Hundl                           248.0
..             ...                ...                             ...
79      Kate Symes    Andrew Hawthorn                             4.0
80      Kate Symes      Jubran Whalan                             8.0
81      Kate Symes    Nadine Costanzo                             4.0
82      Kate Symes       Jonalan Page                             4.0
83  Kerri Thompson      Carla Hoffman                            15.0

[84 rows x 3 columns]

# Query another dictionary

In [6]:
path = 'emails_cleaned.csv'
text_df = pd.read_csv(path)

In [9]:
text_senderRecieverTextdf =text_df[['X-From','X-To','content']]

In [10]:
text_senderRecieverTextdf

,X-From,X-To,content
0,Richard Shapiro,Leslie Lawner,"Leslie,after seeing point # 3 in writing , I w..."
1,Richard Shapiro,Leslie Lawner,"Leslie,after seeing point # 3 in writing , I w..."
2,Dan J Hyvl,Eric Bass,Please see item 8 of the attached GTC. When t...
3,Dan J Hyvl,Eric Bass,Please see item 8 of the attached GTC. When t...
4,Dan J Hyvl,Eric Bass,Please see item 8 of the attached GTC. When t...
...,...,...,...
70092,Tana Jones,Dave Fuller,"Dave,\n\nAttached is the Schedule to the ISDA ..."
70093,Tana Jones,Dave Fuller,"Dave,\n\nAttached is the Schedule to the ISDA ..."
70094,Tana Jones,Jason R Williams,"Jay,\n\nTo reconfirm my conversation yesterday..."
70095,Tana Jones,Jason R Williams,"Jay,\n\nTo reconfirm my conversation yesterday..."
70096,Tana Jones,Dave Fuller,"Dave,\n\nAttached is the Schedule to the ISDA ..."

Preoprocessing

In [12]:
#remove digiu
text_senderRecieverTextdf['content'] = text_senderRecieverTextdf['content'].str.replace(r'\d+', '', regex=True)

/var/folders/j4/s37rcpps3kj5ktfxvqhqq3_m0000gn/T/ipykernel_74147/3184462352.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  text_senderRecieverTextdf['content'] = text_senderRecieverTextdf['content'].str.replace(r'\d+', '', regex=True)

In [13]:
# Load EDA Pkgs
import pandas as pd
import neattext.functions as nfx

In [15]:
text_senderRecieverTextdf['content'] =text_senderRecieverTextdf['content'] .astype(str)

/var/folders/j4/s37rcpps3kj5ktfxvqhqq3_m0000gn/T/ipykernel_74147/230674828.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  text_senderRecieverTextdf['content'] =text_senderRecieverTextdf['content'] .astype(str)

In [16]:
# Clean Text:stopwords,special charac
text_senderRecieverTextdf['content'] = text_senderRecieverTextdf['content'].apply(nfx.remove_stopwords)
# Clean Text:stopwords,special charac
text_senderRecieverTextdf['content'] = text_senderRecieverTextdf['content'].apply(nfx.remove_special_characters)

/var/folders/j4/s37rcpps3kj5ktfxvqhqq3_m0000gn/T/ipykernel_74147/1151673196.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  text_senderRecieverTextdf['content'] = text_senderRecieverTextdf['content'].apply(nfx.remove_stopwords)
/var/folders/j4/s37rcpps3kj5ktfxvqhqq3_m0000gn/T/ipykernel_74147/1151673196.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  text_senderRecieverTextdf['content'] = text_senderRecieverTextdf['content'].apply(nfx.remove_special_characters)

In [17]:
text_senderRecieverTextdf

,X-From,X-To,content
0,Richard Shapiro,Leslie Lawner,Leslieafter seeing point writing extremely r...
1,Richard Shapiro,Leslie Lawner,Leslieafter seeing point writing extremely r...
2,Dan J Hyvl,Eric Bass,item attached GTC outside party provide Gas al...
3,Dan J Hyvl,Eric Bass,item attached GTC outside party provide Gas al...
4,Dan J Hyvl,Eric Bass,item attached GTC outside party provide Gas al...
...,...,...,...
70092,Tana Jones,Dave Fuller,Dave Attached Schedule ISDA Master Agreement d...
70093,Tana Jones,Dave Fuller,Dave Attached Schedule ISDA Master Agreement d...
70094,Tana Jones,Jason R Williams,Jay reconfirm conversation yesterday Reid Gros...
70095,Tana Jones,Jason R Williams,Jay reconfirm conversation yesterday Reid Gros...
70096,Tana Jones,Dave Fuller,Dave Attached Schedule ISDA Master Agreement d...